<template>
        <form method="POST" action="/message">
            <!-- {!! csrf_field() !!} -->
                <div class="form-group">
                 
                  <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Nombre">
                  <small id="nameHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
               
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ejemplo: correo@gmail.com">
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
               
                  <input type="text" class="form-control" name="title" aria-describedby="nameHelp" placeholder="Título">
                  <small id="nameHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                
                  <textarea class="form-control" name="content" placeholder="Escribe tu mensaje..." rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Enviar</button>
        </form>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
